<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
  input[readonly] {
    background-color: #f5f5f5 !important;
}
.ui-datepicker-trigger {
	cursor: pointer;
}
.error {
	border: 1px solid red;
}
input, select, textarea {
	margin: 1;
	border-radius: .28571429rem;
	border: 1px solid rgba(180,180,180);
	padding: 4 6;
}
input[type=text],select{
Height: 30px;
line-height: 30px;
}
.content {
	background-color: #e7f4ff;
	position: relative;
	margin: 24 0 .28571429rem 0;
	border-radius: .28571429rem;
	padding: 14 10 10 10;
}
.contentTable {
	background-color: #ffffff;
	border-collapse: collapse;
	border-radius: .28571429rem;
	border: 1px solid rgba(180,180,180);
	width: 100%;	
}
.contentTh {
	font-size: 14px;
	padding: 5;
	background-color: aliceblue;
	border: 1px solid rgba(180,180,180,1);
	color: #000000;
	text-align: left;
	vertical-align: center;
	width: 170px;
	font-weight: bold;
}
.contentTitle {
	font-size: 10px;
	padding: 5;
	background-color: #f9f9f9;
	border: 1px solid rgba(180,180,180);
	color: #000000;
	text-align: left;
	vertical-align: center;
	width: 100px;
	font-weight: bold;
}
.contentTd {
	border: 1px solid rgba(180,180,180,1);
	color: #000000;
	vertical-align: center;
	padding: 5px;
	font-size: 14px;
}
.contentTd td {
	font-size: 14px;
}
.tab {
	background-color: #ffffff;
	padding: 5px;
}
.badge {
	width: 100px;
	font-weight: bold;
	background-color: #e7f4ff;
	border-radius: .28571429rem;
	border: 0px;
	border-bottom: 0;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	float:left;
}
.tag {
	font-weight: bold;
	background-color: #abd9ff;
	border-radius: .28571429rem;
	border: 0px;
	border-bottom: 0;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
.fileinput-button {
	background-color: ButtonHighlight;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 5 1 1 1;
	border-radius: .28571429rem;
	/*border: 1px solid rgba(180,180,180);*/
	padding: 4 6;
	font-size: 14px;
	font-weight: normal;
	color:#000000;
	background: #c9c9c9;
	border: 1px solid gray;
	box-shadow: 1px 1px 1px black
}
.fileinput-button:active {
	border: 1px solid #f5f5f5;
	color: #ffffff;
	background-color: #007fff;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
}
.table{
border-collapse:collapse; 
}  
</style>
<body>
    <div class="tab ">
        <table class="contentTable" id="table_Header" >
            <thead>
                <tr>
                    <td class="contentTd center" colspan="18" style="background-color:rgb(255, 242, 204)"><INPUT NAME="Company" TYPE="TEXT" ></td>	
                </tr>
                <tr>
                    <td class="contentTd center" colspan="18" >文字</td>	
                </tr>
                <tr>
                    <th class="contentTh BGC1" >文字</th>
                    <td class="contentTd" colspan="9" ><INPUT NAME="Cnumber_M" TYPE="TEXT" readonly>-<INPUT NAME="Caseno_M" TYPE="TEXT" readonly></td>									
                </tr>
                <tr>
                    <th class="contentTh BGC1" >文字</th>
                    <td class="contentTd" colspan="5"><INPUT NAME="ApplicantID" TYPE="TEXT"  >
                                                    <INPUT NAME="ApplicantName" TYPE="TEXT"  readonly></td>
                    
                    <th class="contentTh BGC1" colspan="2">文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="PRUnit" TYPE="TEXT"  value="" ></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1" >文字<font style="color:red" >*</font></th>
                    <td class="contentTd" colspan="5">
                                <INPUT NAME="Caseno" TYPE="TEXT" >
                                <button name="btn01"  type="button">查詢</button>
                                <INPUT NAME="CaseName" TYPE="TEXT" readonly></td>
                    
                    <th class="contentTh BGC1" colspan="2">文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="FloorArea" TYPE="TEXT" ></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1" >文字<font style="color:red" >*</font></th>
                    <td class="contentTd"  colspan="9"><INPUT NAME="PRItem" TYPE="TEXT"  ></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1" >文字</th>
                    <td class="contentTd" colspan="5"><INPUT NAME="PRDate" TYPE="TEXT"  readonly></td>
            
                    <th class="contentTh BGC1" colspan="2">文字<font style="color:red">*</font></th>
                    <td class="contentTd" colspan="2"><INPUT NAME="POType" TYPE="TEXT" ></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1" >文字<font style="color:red">*</font></th>
                    <td class="contentTd" colspan="9"><INPUT NAME="POFinishDate" TYPE="TEXT"  readonly></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="contentTh BGC2 center" colspan="6">文字</th>
                    <th class="contentTh BGC1 center" colspan="4">文字</th>
                </tr>
                <tr>
                    <th class="contentTh BGC2 center" >文字</th>
                    <th class="contentTh BGC2 center" >文字</th>
                    <th class="contentTh BGC2 center" >文字</th>
                    <th class="contentTh BGC2 center" >文字</th>
                    <th class="contentTh BGC2 center" >文字</th>
                    <th class="contentTh BGC2 center" >文字</th>
                    <th class="contentTh BGC1 center" >文字</th>
                    <th class="contentTh BGC1 center" >文字</th>
                    <th class="contentTh BGC1 center" >文字</th>
                    <th class="contentTh BGC1 center" >文字</th>
                </tr>
                <tr>
                    <td class="contentTd" ><INPUT NAME="ItemName_M" TYPE="TEXT" style="width: 110px" ></td>
                    <td class="contentTd" ><INPUT NAME="Standard_M" TYPE="TEXT" style="width: 110px" ></td>
                    <td class="contentTd" align="center"><INPUT NAME="Unit_M" TYPE="TEXT" style="width: 50px;text-align:center;" ></td>
                    <td class="contentTd" align="center"><INPUT NAME="EstAmount_M" TYPE="TEXT" style="width: 50px;text-align:center" ></td>
                    <td class="contentTd" ><INPUT NAME="EstUnit_M" TYPE="TEXT" style="width: 80px" ></td>
                    <td class="contentTd" ><INPUT NAME="EstFinishPrice_M" TYPE="TEXT" style="width:100px" value="0" readonly></td>
                    <td class="contentTd" align="center"><INPUT NAME="PO_Amount_M" TYPE="TEXT" style="width: 80px;text-align:center" ></td>
                    <td class="contentTd" ></td>
                    <td class="contentTd" ></td>
                    <td class="contentTd" ><INPUT NAME="PO_FinishPrice_M" TYPE="TEXT" style="width: 100px" value="0" readonly></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1 center" rowspan="3" >文字</th>
                    
                    <th class="contentTh BGC1 center" >文字</th>
                    <td class="contentTd" ><INPUT NAME="SugTypeID" TYPE="TEXT" style="width: 110px" >
                                           <INPUT NAME="SugType" TYPE="TEXT" style="display:none" ></td>
                    
                    <th class="contentTh BGC2 center" >文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="EstSubTotal" TYPE="TEXT" value="0"  style="width: 100px" readonly></td>
                    
                    <th class="contentTh BGC1 center" colspan="2">文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="PRSubTotal" TYPE="TEXT" value="0"  style="width: 100px" readonly></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1 center" rowspan="2">文字</th>
                    <td class="contentTd" rowspan="2"><INPUT NAME="RecomFirm" TYPE="TEXT" style="width: 100px" ></td>
                
                    <th class="contentTh BGC2 center" >文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="EstTax" TYPE="TEXT" value="0" style="width: 100px" readonly></td>
                    
                    <th class="contentTh BGC1 center" colspan="2">文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="PRtTax" TYPE="TEXT" value="0" style="width: 100px" readonly></td>
                    
                </tr>
                <tr>
                    <th class="contentTh BGC2 center" >文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="EstTotal" TYPE="TEXT" value="0" style="width: 100px" readonly></td>
                    
                    <th class="contentTh BGC1 center" colspan="2">文字</th>
                    <td class="contentTd" colspan="2"><INPUT NAME="PRTotal" TYPE="TEXT" value="0" style="width: 100px" readonly></td>
                </tr>
                <tr>	
                    <th class="contentTh BGC1 center" rowspan="2" >文字</th>
                    
                    <th class="contentTh BGC1 center" colspan="2">文字</th>
                    <th class="contentTh BGC1 center" colspan="3">文字</th>
                    <th class="contentTh BGC1 center" colspan="4">文字</th>
                </tr>
                <tr>
                    <td class="contentTd" colspan="2"><INPUT NAME="FinTypeID" TYPE="TEXT"  >
                                                      <INPUT NAME="FinType" TYPE="TEXT" style="display:none" ></td>
                    <td class="contentTd" colspan="3"><INPUT NAME="RecomDeport" TYPE="TEXT"  >
                                                 <input type="text" style="display:none" NAME="RecomDeportNO"></td>
                    <td class="contentTd" colspan="4"><INPUT NAME="RecomTranDeport" TYPE="TEXT" ></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="contentTh BGC1 center" >文字</th>
                    <td class="contentTd" colspan="9" ><INPUT NAME="PR_Note" TYPE="TEXT" ></td>									
                </tr>
                <tr>
                    <th class="contentTh BGC1 center" >文字</th>
                    <td class="contentTd" colspan="5"><INPUT NAME="PR_ManagerNote" TYPE="TEXT"  ></td>
                    
                    <th class="contentTh BGC1 center" >文字</th>
                    <td class="contentTd" colspan="5"><INPUT NAME="PR_ManagerSign" TYPE="TEXT"  value="" ></td>
                </tr>
                <tr>
                    <th class="contentTh BGC1 center" >文字</th>
                    <td class="contentTd" colspan="5"><INPUT NAME="PR_ChairNote" TYPE="TEXT"  ></td>
                    
                    <th class="contentTh BGC1 center" >文字</th>
                    <td class="contentTd" colspan="3"><INPUT NAME="PR_ChairSign" TYPE="TEXT" ></td>
                </tr>
            </tfoot>
        </table>
        <br>
    </div>
</body>
</html>